.h1 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.025em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.025em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.025em;
}

.h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.025em;
}

.h5 {
  font-size: 1.125rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.025em;
}

.label {
  font-size: 1.15rem;
  color: #a1a1aa;
}

.value {
  font-size: 1.5rem;
  color: #eeeeee;
  font-family: 'Courier New', monospace;
}

@media screen and (max-width: 768px) {
  .label {
    font-size: 0.75rem;
  }
  .value {
    font-size: 0.9rem;
  }
}

.body {
  font-size: 1rem;
  color: #d4d4d8;
}

.mono {
  font-family: 'Courier New', monospace;
  color: white;
}
